body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: linear-gradient(to left bottom, rgb(250, 250, 250), rgb(3, 40, 49));
  padding: 40px;

}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.mastermind-container, .mastermind-header{
  
  
  background: linear-gradient(to right bottom, white, rgb(62, 67, 68));
  margin: auto;
  
  width: 100%;
  border: 2px black solid
}

.container{
  padding: 40px;
  background: linear-gradient( rgb(241, 240, 240), rgb(12, 80, 97));

  margin: auto;
  height: 63%;
  width: 60%;
  border: 2px silver solid
}

h1, h2, h3, h4 {
  font-family: "Open Sans";
  font-weight: lighter;
  font-variant: small-caps;
  margin: auto;
}

button{
  background-color: rgb(255, 255, 255);
  border: black;
  color: rgb(0, 0, 0);
  padding: 10px 10px;
  margin: 2px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 13px;
  box-shadow: black
}


.left, .current-guess, .right{
  float: left;
  width: 33.333333%;
  overflow: auto;
}



.input-buttons{
  clear: both;
  width: 33%;
  margin: auto;

}

.div{
  margin:auto;
}